@import "./colors.scss";
/* Normal Accordion START */

.section-eight {
    .container {
        max-width: 1090px;
        margin: 0 auto;
    
        @include mobile {
            width: 100%;
            margin: 0 auto;
            padding: 0px 16px;
        }
    }

}


.accordian {
    &__dropdown-menu {
        background: $white;

        li {
            font-size: 14px;
            color: $gray-1;
            padding-bottom: 10px;
            line-height: 132.5%;
            font-weight: 400;

            &:last-child {
                padding-bottom: 0px;
            }

            @include mobile {
                font-weight: 400;
                font-size: 10px;
                line-height: 132.5%;
            }
        }

    }

    .normal-accordion-div {
        cursor: pointer;

        &.is-open {
            .accordian__dropdown-arrow {
                transform: rotate(-225deg);
                top: 50px;

                @include mobile {
                    top: 28px;
                }
            }

            .accordion-title {
                cursor: pointer;

                &+.accordion-content {
                    display: block;
                    transition: transform .3s linear;
                }
            }
        }
    }

    &__dropdown {

        background: $white;
        mix-blend-mode: normal;
        box-shadow: 0px 0px 13.2968px rgba(0, 115, 187, 0.1);
        border-radius: 12px;
        width: 100%;
        padding: 33px 32px 38px 32px;
        position: relative;
        margin-top: 44px;
        transition: transform .3s linear;

        @include mobile {
            padding: 16px 15px 16px 13px;
            margin-top: 12px;
        }

        .accordion-title {
            display: flex;
            align-items: center;
            background-color: transparent;
            cursor: pointer;

            input {
                margin: 0px;
                width: 21.57px;
                height: 18px;

                @include mobile {
                    width: 18px;
                }
            }


            &-txt {
                font-weight: 700;
                font-size: 36px;
                line-height: 132.5%;
                color: $black;

                @include mobile {
                    font-size: 18px;
                    line-height: 132.5%;
                }
            }

            &+.accordion-content {
                display: none;
            }
        }

        ul {
            padding-top: 36px;
            padding-left: 16px;

            @include mobile {
                flex-direction: column;
            }
        }

        &-arrow {
            border: 2px solid $primary-blue;
            height: 15px;
            width: 15px;
            top: 40%;
            right: 5%;
            border-right: none;
            position: absolute;
            border-top: none;
            transform: rotate(-45deg);
            transition: transform .3s linear;

            @include mobile {
                width: 8px;
                height: 8px;
                top: 20px;
                right: 15px;
                border: 1.5px solid $primary-blue;
                border-right: none;
                border-top: none;
            }

        }


    }
}

/* Normal Accordion END*/

/* Accordion with checkbox START */

.acc-checkbox{
    .container {
        max-width: 1090px;
        margin: 0 auto;
    
        @include mobile {
            width: 100%;
            margin: 0 auto;
            padding: 0px 16px;
        }
    }

}

.checkbox-acc {
    background: $white;
    border: 1px solid $gray-5;
    border-radius: 5px;
    // padding: 10px 12px 13px 14px;
    margin-bottom: 12px;

    @include mobile {
        margin-bottom: 12px;
    }

    .accordion-chk {
        position: relative;

        .check-div{
            margin-right: 0px;
            margin-left: 14px;
            @include mobile{
                margin-right: 0px;
                margin-left: 11px;
            }
            .label-container{
                input{
                    &:checked~{
                        & .checkmark{
                            border-color: transparent;
                        }
                    }
                }
                .checkmark{
                    margin-right: 0px;
                    border-color: $gray-3;
                    &::after{
                        left: 35%;
                        top: 3%;
                    }
                    @include mobile{
                        margin-right: 0px;
                    }
                }
            }
        }

        &-main {
            padding-left: 12px;
            padding: 10px 12px 10px 12px;
            width: 100%;
            cursor: pointer;

            @include mobile {
                padding-left: 10px;
                padding: 10px 27px 10px 10px;
            }

            &-title {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: $gray-2;

                @include mobile {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 17px;
                    color: $gray-3;
                }
            }

            &.bgt {
                &.is-openbox {
                    .accordion-chk-arrow {
                        transform: rotate(-225deg);
                        top: 18px;
                        right: 12px;
                    }
                }
            }

        }

        &-arrow {
            position: absolute;
            border: 2px solid $gray-3;
            background-color: transparent;
            height: 8px;
            width: 8px;
            top: 12px;
            right: 14px;
            border-right: none;
            border-top: none;
            transform: rotate(-45deg);
            transition: transform 0.3s linear;
        }
    }

    .accordion-content {
        display: none;

        &.open {
            display: block;
        }

        &-list {
            padding-top: 20px;
            padding-left: 32px;
            padding-right: 39px;

            @include mobile {
                padding-left: 25px;
                padding-right: 9px;
                padding-top: 10px;
            }

            li {
                font-size: 14px;
                color: $gray-1;
                padding-bottom: 10px;
                line-height: 132.5%;

                @include mobile {
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 132.5%;
                    color: $gray-1;
                }
            }
        }

    }
}

/* Accordion with checkbox END */