@import './colors.scss';
/* Banner section START */

.bannersec {
    background: $gray-6;

    @include mobile{
        background: transparent;
    }

    .page-container{
        max-width: 1090px;
        margin: auto;

        @include mobile{
            padding: 0px;
        }
    }

    .headbanner{
        justify-content: space-between;
        padding-top: 38px;

        @include mobile{
            flex-direction: column-reverse;
            padding-top: 0px;
        }

    &__section {
        width: 50%;

        @include mobile{
                padding-top: 16px;
                padding-left: 16px;
                padding-right: 16px;
                width: 100%;
        }
        h3 {
            font-family: 'Inter', sans-serif;
            font-weight: 800;
            font-size: 36px;
            padding-bottom: 10px;
            margin: 0px;
            color: $black;
            line-height: 44px;

            @include mobile{
                font-weight: 700;
                font-size: 20px;
                padding-bottom: 10px;
                line-height: 132.5%;
            }
        }

        p {
            color: $black;
            font-size: 18px;
            line-height: 120%;
            font-weight: 300;
            padding-bottom: 26px;

            @include mobile{
                font-weight: 300;
                font-size: 14px;
                color: $black;
                line-height: 132.5%;
                padding-bottom: 24px;
            }
        
        }

        .BannerSec__btn {
            .red-btn{
                a{
                    margin: 0px;
                    padding: 12px 38px;
                }
            }
            p {
                font-weight: 700;
                font-size: 16px;
                padding-bottom: 0px;
                color: $white;
                line-height: 16px;
            }

            @include mobile{
                display: none;
            }
        }
        
    }

    .bannerimg {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: flex-end;
        width: 50%;

        @include mobile{
            display: flex;
            flex-direction: row-reverse;
            // padding-top: calc(100px - 38px);
            padding-top: 58px;
            background: $gray-6;
            width: 100%;
            align-items: center;
            padding-left: 15px;
            padding-right: 15px;
        }

        img {
            max-height: 353px;
            min-width: 320px;
            height: auto;

            @include mobile{
                padding-top: 6px;
                max-height: 130px;
                max-width: 141px;
                min-width: 141px;
            }
        }
        
        .BannerTxt {
            display: flex;
            flex-direction: column;
            padding: 18px 23px;
            // width: 67%;
            background: rgba(255, 255, 255, 0.8);
            backdrop-filter: blur(3px);
            border-radius: 12px;
            position: absolute;
            bottom: 34px;

            @include mobile{
                justify-content: flex-end;
                background: transparent;
                backdrop-filter: inherit;
                position: inherit;
                bottom: 0px;
                padding: 0px;
                position: relative;
            }

            img{
                @include mobile{
                    max-width: 194px;
                    max-height: 49px;
                    min-width: none;
                }
            }
        }

    }
    
}
}
/* Banner section END */

