@import './colors.scss';

/* BANNER WITH CTA START  */

.banner-cta {
    padding-bottom: 32px;

    .bgImg {
        position: relative;
        display: flex;
        align-items: flex-end;
        width: 100%;
        // max-height: 198px;
        // background-image: url('../img/calculator.svg');
        background-repeat: no-repeat;
        padding: 47px 26px;
        border-radius: 12px;
        background-size: cover;
        background-position: bottom;
        z-index: 0;

        &::before {
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            background: linear-gradient(185.4deg, $white 1.86%, #000000 85.41%);
            mix-blend-mode: multiply;
            border-radius: 12px;
            z-index: -1;
        }

        h3 {
            font-size: 42px;
            color: $white;
            font-weight: 700;
            margin: 0px;
            line-height: 50px;
        }

        a {
            margin: 0px;
            margin-left: 20px;
            text-decoration: none;
            padding: 12px 50px;
            color: $white;
            background: linear-gradient(93.68deg, #0073BB -2.51%, #055F94 100%);
            border-radius: 6px;
            font-size: 16px;
            line-height: 17px;
            margin-bottom: 8px;
        }

    }

    @include mobile {
        .bgImg {
            flex-direction: column;
            align-items: flex-start;
            // max-height: 140px;
            min-height: 140px;
            background-image: url('../img/calculator-mobile.svg');
            padding: 23px 13px 22px 13px;

            h3 {
                font-size: 20px;
                font-family: inter;
                line-height: 24px;
            }
            a{
                margin-left: 0px;
                margin-top: 20px;
                padding: 7px 14px;
                font-family: 'helvetica';
                line-height: 16px;
                margin-bottom: 0px;
                font-size: 14px;
                font-weight: 400;
            }
        }

    }

}

/* BANNER WITH CTA END  */