// Blue color variants
$primary-blue: #0073BB;
$secondary-blue: #4197D3;
$anchor-blue:#0074B8;
$dark-blue:#255F8F;
$light-blue:#C2E4FF;

// Red color variants
$primary-red: #D62049;
$secondary-red: #EB9AA6;
$tertiary-red: #FAE7EC;

// Black and Gray Variants
$black: #333333;
$gray-1: #58595B;
$gray-2: #808184;
$gray-3: #A7A9AC;
$gray-4: #DFE0E1;
$gray-5: #E6E7E8;
$gray-6: #F2F7FB;
$gray-7: #ECF6FF;

// Yellow color variants
$yellow-1: #FFD644;
$yellow-2: #FFFBED;

// Green color variants
$green-1: #0CA789;
$green-2: #EBF8EB;

// Underline color variants
$underline-1: #F2F2F2;
$underline-2: #F2F7FB;
$underline-3: #DFE0E1;

$white:#FFFFFF;

$linear:linear-gradient(180deg, #F3B9C9 0%, #D3E7F4 100%), #FFFFFF;
$linear-2: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #D62049 47.71%, rgba(255, 255, 255, 0) 100%);
$linear-3:linear-gradient(180deg, rgba(242, 247, 251, 0) 0%, rgba(242,247,251,1) 100%);

$disabled-grey:#C7C8CA;

$mobile : 767px;
$tab : 992px;
$desktop: 1024px;

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}