.helvetica{
    font-family: 'helvetica';
}

.helvetica-bold{
    font-family: 'HelveticaBold', Helvetica, Arial, sans-serif;
}

.helvetica-light{
    font-family: 'Helvetica Light', Arial, sans-serif;
}

.helvetica-neue{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}