@import './colors.scss';

/* Benefits/Banner carousel START */

.bannercarousel{
    background-color: transparent;

    .page-container{
        max-width: 1090px;
        margin: auto;

        @include mobile{
            // padding: 0px 0px;
        }
    }

    &__details{

        @include mobile{
            padding-top: 16px;
        }

        h3{
            text-transform: uppercase;
            font-size: 20px;
            line-height: 24px;
            color: $black;
            font-weight: 600;

            @include mobile{
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;    
                margin: 0px;
                margin-left: 16px;
            }
        }

        .cards__details{
            margin-top: 50px;

            .cards__item {
                flex-wrap: wrap;
                gap:2%;

                @include mobile{
                    flex-wrap: nowrap;
                    margin-top: 0;
                    margin-left: 16px;
                    gap:16px;
                }


                .carouselcard {
                    background: #FFFFFF;
                    box-shadow: 0px 0px 14px rgba(0, 115, 187, 0.1);
                    border-radius: 12px;
                    padding: 24px 34px;
                    width: 32%;


                    &:nth-child(n + 4){
                        margin-top: 22px;

                        @include mobile{
                            margin-top: 0px;
                        }
                    }

                    @include mobile{
                        padding: 18px 24px;
                        margin-bottom: 0px;
                        margin-right: 0px;
                        max-width: 274px;
                        min-width: 274px;
                    }

                    .carditems{
                        padding-bottom: 15px;
                        p{
                            padding-left: 18px;
                            color: $secondary-blue;
                            font-size: 16px;
                            line-height: 19px;
                            font-weight: 500;

                            @include mobile{
                                font-size: 14px;
                                line-height: 17px;
                            }
                        }
                    }

                    p{
                        font-weight: 300;
                        font-size: 14px;
                        line-height: 16px;
                        color: $gray-1;
                        @include mobile{
                            font-size: 12px;
                            line-height: 16px;
                        } 
                    }
                
                }
            }

            @include mobile{
                overflow: hidden;
                overflow-x: scroll;
                padding-top: 20px;
                padding-bottom: 29px;
                margin-top: 0px;
            }
            
        }
    }
}

/* Benefits/Banner carousel END */

