@use './disclaimer-link.scss';
@import './colors.scss';

.disclaimer-link-style{
    &.container{
        max-width: 1090px;
        margin: auto;
        padding-top: 57px;
        padding-bottom: 37px;
        margin-bottom: 86px;
        // display: flex;
        // justify-content: center;
        // align-items: flex-end;
        

        @include mobile{
            padding-left: 16px;
            padding-top: 37px;
            margin-bottom: 92px;
            padding-bottom: 0px;
            height: auto;
            display: block;
        }
    }
}