@import './colors.scss';


/* Open FAQs START */

.faqs-section {

    .display{
        display: none;
    }

    .container {
        max-width: 1090px;
        margin: 0 auto;
    }

    .mobile {
        display: none;
    }

    

    @include mobile {
        .desktop {
            display: none;
        }

        .mobile {
            display: block;
        }

        .container {
            width: 100%;
        }
    }

    &__div {
        margin-right: 15px;
        margin-left: 17px;

        .faqs-heading {
            // font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            color: $black;

            @include mobile {
                font-size: 18px;
                line-height: 18px;
            }
        }

        .question-query {
            position: relative;
            margin-top: 29px;
            margin-bottom: 30px;

            @include mobile {
                // margin-right: 15px;
                width: 100%;
                padding-right: 16px;
            }

            input {
                border: 1px solid $gray-5;
                border-radius: 6px;
                max-width: 324px;
                width: 100%;
                outline-color: $gray-1;
                padding-left: 10px;
                font-size: 12px;
                height: 31px;

                @include mobile {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    max-width: 100%;
                }

                &::placeholder {
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 16px;
                    color: $gray-5;

                    @include mobile {
                        font-size: 12px;
                        line-height: 16px;
                        color: #C7C8CA;
                    }
                }
            }
        }

        .asked-question {
            font-weight: 400;
            font-size: 18px;
            margin-bottom: 32px;
            line-height: 21px;
            color: $gray-1;

            @include mobile {
                font-size: 14px;
                line-height: 16px;
                margin-bottom: 16px;
            }
        }

        .ques-para {
            flex-wrap: wrap;
            gap: 17px;
            row-gap: 28px;

            @include mobile {
                flex-direction: column;
                row-gap: 20px;
            }

            .mr-17 {
                margin-right: 17px;
            }

            .mb-28 {
                margin-bottom: 28px;
            }

            .paragraph {
                background: $gray-6;
                border-radius: 12px;
                padding: 29px 16px;
                gap: 10px;
                width: 49%;
                // margin: 0;

                @include mobile {
                    box-shadow: 0px 0px 14px rgba(0, 115, 187, 0.05);
                    padding: 12px 12px 10px 12px;
                    margin-right: 0;
                    width: 100%;
                }

                .read-more {
                    display: none;

                    @include mobile {
                        display: inline-block;
                        margin: 0px;
                        font-weight: 300;
                        font-size: 14px;
                        padding-top: 4px;
                        line-height: 18.55px;
                        color: $primary-blue;
                    }
                }

                .faq-question {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 20px;
                    color: $black;

                    @include mobile {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 132.5%;
                    }
                }

                .faq-answer {
                    font-weight: 400;
                    font-size: 18px;
                    padding-top: 12px;
                    line-height: 21px;
                    color: $gray-1;

                    @include mobile {
                        font-weight: 300;
                        font-size: 14px;
                        padding-top: 4px;
                        line-height: 18.55px;

                        span {
                            color: $primary-blue;
                        }
                    }

                }
            }
        }
    }

    .faq-show-more {
        position: relative;
        width: fit-content;
        margin: auto;
        margin-top: 27px;

        @include mobile{
            padding: 0px;
            margin-top: 20px;
        }

        a {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-decoration: none;
            text-align: center;
            color: $primary-blue;
            align-items: center;
            display: flex;

            @include mobile{
                line-height: 17px;
            }

            .mr-5{
                margin-right: 5px;
            }

            .ml-5{
                margin-left: 5px;
            }

            .ml-7{
                margin-left: 7px;
            }

            @include mobile {
                font-size: 14px;
                line-height: 17px;
            }

            .desktop-img{
                display: inline-block;

                @include mobile{
                    display: none;
                }
            }

            .mobile-img{
                display: none;

                @include mobile{
                    display: inline-block;
                }
            }
        }
    }

}

/* Open FAQs END */