@import "./colors.scss";

footer {
    max-width: 100%;
    max-height: 82px;
    background-color: $white;
    bottom: 0;
    filter: drop-shadow(2px 0px 14px rgba(0, 0, 0, 0.1));
    position: fixed;
    width: 100%;
    padding: 20px 0px;
    z-index: 2;

    @include mobile {
        padding: 0px;
    }

    .container {
        max-width: 1090px;
        margin: 0 auto;
    }

    .footer-div {
        @include mobile {
            width: 100%;
            justify-content: center;
            margin-right: 16px;
        }

        .footer-anchor {
            margin: 0px;
            @include mobile {
                width: 100%;
                margin: 15px 16px 15px 16px;
                justify-content: center;
            }
        }
    }
}