@import './colors.scss';

/* Header START */


header {
    box-shadow: 0px 2px 14px rgb(88 89 91 / 10%);
    background-color: $white;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2;

    @include mobile{
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }  

    .container {
        max-width: 1090px;
        margin: 0 auto;
    }

    .header-sec {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 16px;
        padding-bottom: 16px;

        @include mobile{
            padding: 13px 18px 14px 16px;
        }

        .header-logo{
            height: 32px;
            width: auto;

            @include mobile{
                height: 24px;
                width: auto;            
            }
        }

        .header-right {
            position: relative;

            @include mobile{
                max-width: 240px;
                width: 100%;
                justify-content: flex-end;
            }

            .input-div {
                @include mobile{
                    max-width: 167px;
                    width: 100%;
                    margin-left: 0px;
                }

                .edit-div {
                    
                    @include mobile{
                        max-width: 167px;
                        width: 100%;
                    }

                    .input-field {
                        // background: $white;
                        // border: 1px solid $gray-4;
                        // border-radius: 8px;
                        // padding: 7px 12px;
                        // padding-right: 40px;
                        // font-style: normal;
                        // font-weight: 400;
                        // font-size: 14px;
                        // line-height: 16px;
                        // display: flex;
                        // align-items: center;
                        // color: $black;

                        @include mobile{
                            max-width: 149px;
                            font-weight: 300;
                            font-size: 12px;
                            line-height: 132.5%;
                            width: 100%;
                        }
                    }

                    .search-icon {
                        top: 30%;
                        right: 10px;
                    }
                }
            }

            .face-agent {
                display: flex;
                flex-direction: column;
                color: $primary-red;
                font-size: 8px;
                margin-left: 16px;

                @include mobile {
                    margin-left: 9px;
                    align-items: center;
                }

                a{
                    margin: 0px;
                    text-align: center;
                    text-decoration: none;

                    img{
                        height: 24px;
                        width: auto;

                        @include mobile{
                            max-width: 26px;
                            height: 22px;
                            width: auto;
                        }
                    }
                }


                .contact-us {
                    display: none;

                    @include mobile {
                        display: block;
                        font-weight: 400;
                        font-size: 8px;
                        line-height: 132.5%;
                        color: $primary-red;
                    }
                }
            }
        }
    }
}

/* Header END */
