@import "./colors";

h1{
    text-align: center;
    margin: 10px;
    font-size: 35px;
}

h2{
    margin: 10px;
    font-size: 25px;
    color: blue;
    background-color: darkgray;
    padding: 10px;
}

h3{
    margin: 10px;
}

.p-blue{
    background-color: $primary-blue;
}

.p-blue-2{
    background-color: $secondary-blue;
    @include mobile {
        background-color: pink;
    }
}

.p-red{
    background-color: $primary-red;
}

.p-red-2{
    background-color: $secondary-red;
}

.p-black{
    background-color: $black;
}

.p-gray-1{
    background-color: $gray-1;
}

.p-gray-2{
    background-color: $gray-2;
}

.p-gray-3{
    background-color: $gray-3;
}

.p-gray-4{
    background-color: $gray-4;
}

.p-gray-5{
    background-color: $gray-5;
}

.p-gray-6{
    background-color: $gray-6;
}

.p-gray-7{
    background-color: $gray-7;
}

.p-yellow-1{
    background-color: $yellow-1;
}

.p-yellow-2{
    background-color: $yellow-2;
}

.p-green-1{
    background-color: $green-1;
}

.p-green-2{
    background-color: $green-2;
}

.p-linear{
    background: $linear;
}

.parent{
    display: flex;
    flex-wrap: wrap;
}

.c-div{
    max-width: 250px;
    margin: 10px;
    min-height: 100px;
    width: 150px;
    padding: 10px;
    text-align: center;
}

.c-div p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

button,a{
    margin: 10px;

    @include mobile{
        margin: 0px;
    }
}

hr{
    border-top: 3px solid #cccccc;
    margin: 10px;
}

.input-div, .ignore-margin{
    margin-left: 10px;
}

.nrml{
    margin-top:20px;
    margin-bottom:10px;
    margin-left: 10px;
    background-color: gold;
    padding: 5px;
}

.radio-div,.anchor-back,.search-div,.check-div,.pro-tip,.banner-cta{
    margin-left: 10px;

    @include mobile{
        margin-right: 10px;
    }
}

.selectioncard-info{
    margin-left: 10px;
}