
  @mixin spacers2($class,$property) {
    $count: 1;

    @while $count < 11 {
        $count2 :(10 * $count);
        .#{$class}-#{$count2} {
            #{$property}: (10 * $count) + px;
        }
    
        $count: $count + 1;
    }
    
}
@include spacers2(mt,margin-top);
@include spacers2(mb,margin-bottom);
@include spacers2(ml,margin-left);
@include spacers2(mr,margin-right);
@include spacers2(pt,padding-top);
@include spacers2(pb,padding-bottom);
@include spacers2(pl,padding-left);
@include spacers2(pr,padding-right);