@use './why-tata-cards.scss';
@import './colors.scss';

.whytatacards-style{
    margin-bottom: 30px;
    @include mobile{
        background-color: transparent;
        margin-bottom: 0px;
    }

    .whytatacards__items{
        @include mobile{
            padding-bottom: 20px;
        }
    }

    .whytata__card-style{
        @include mobile{
            background-color: transparent;
        }
    }
}

