@import './colors.scss';

/* Youtube START */

.youtube {
    padding: 0px 16px;

    @include mobile {
        padding: 23px 16px 10px 16px;
    }

    .youtube-section__item {
        margin: auto;
        display: flex;
        position: relative;
        max-width: 1090px;
        width: 100%;
        background-color: $gray-6;
        border-bottom: 9px solid $primary-blue;
        padding: 37px 26px 25px 26px;
        gap: 29px;

        @include mobile {
            flex-direction: column-reverse;
            padding: 0px;
            background-color: transparent;
            border-bottom: none;
            gap: 11px;
        }

        .videoTxt {
            width: 47%;
            // padding: 0px 29px 0px 0px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            @include mobile {
                width: 100%;
                padding: 0px;
            }

            h4 {
                line-height: 42px;
                font-weight: 700;
                font-size: 36px;
                color: $black;
                margin: 0;
                display: block;

                @include mobile {
                    display: none;
                }
            }

            .yt-para1 {
                padding-top: 19px;
                font-weight: 300;
                font-size: 14px;
                line-height: 20px;
                color: $black;
                margin: 0;

                @include mobile {
                    padding-right: 0px;
                    line-height: 18.5px;
                    padding-top: 0px;
                }
            }

            .yt-para2 {
                padding-top: 16px;
                font-weight: 300;
                font-size: 14px;
                line-height: 17px;
                color: $gray-1;
                opacity: 0.6;
                margin: 0;

                @include mobile {
                    padding-right: 0px;
                    opacity: 1;
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 11px;
                    padding-top: 11px;
                }


            }

            .yt-para3 {
                padding-top: 12px;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: $gray-3;
                margin: 0;

                @include mobile {
                    font-weight: 300;
                    font-size: 10px;
                    line-height: 11px;
                    color: $gray-1;
                    padding-top: 6px;
                }
            }

            .download-btn {
                padding-top: 12px;

                @include mobile {
                    width: 100%;

                    .downloadbtn {
                        width: auto;
                        justify-content: center;
                    }
                }

                a {
                    text-decoration: none;
                    margin: 0;

                    .downloadbtn img {
                        padding-left: 13px;
                    }

                    .img-in-btn{
                        height: 21px;
                        width: 21px;
                    }
                }
            }
        }


        .video {
            max-height: 277.87px;
            width: 52%;
            max-height: 278px;
            min-height: 278px;
            position: relative;

            @include mobile {
                width: 100%;
                max-height: none;
                min-height: unset;
            }


            &-thumb-div {
                position: relative;

                .overlay-black{

                    @include mobile{
                        border-radius: 6px;
                    }

                    .overlay-txt{
                        display: none;

                        @include mobile{
                            display: block;
                            position: absolute;
                            bottom: 13px;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 120%;
                            color: #FFFFFF;
                            text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
                            left: 9px;
                        }
                    }

                    @include mobile{
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0px;
                        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 5.72%, rgba(0, 0, 0, 0) 77.5%);
                    }
                }


                .video-overlay-btn {
                    position: absolute;
                    display: flex;
                    cursor: pointer;
                    top: 50%;
                    border-radius: 8px;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 1;

                    @include mobile {
                        top: auto;
                        left: auto;
                        min-width: auto;
                        min-height: auto;
                        bottom: 13px;
                        right: 11px;
                        transform: none;

                    }

                    img{
                        width: 80px;
                        height: auto;

                        @include mobile{
                            width: 52px;
                        }
                    }
                }

                .video-thumbnail {
                    height: auto;
                    max-width: 532px;
                    width: 100%;

                    @include mobile {
                        height: auto;
                        width: 100%;
                        max-width: unset;
                    }
                }
            }
            
            #yt-anchor{
                display: block;
                margin: 0px;
                z-index: 1;
            }

            

            &-card-title {
                display: none;

                @include mobile {
                    position: absolute;
                    display: block;
                    position: a;
                    font-family: "HelveticaBold";
                    font-style: normal;
                    font-weight: 700;
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 5.72%, rgba(0, 0, 0, 0) 77.5%);
                    border-radius: 6px;
                    font-size: 18px;
                    width: 96%;
                    height: 100%;
                    /* margin-left: 9px; */
                    line-height: 120%;
                    color: #FFFFFF;
                    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
                    bottom: -12px;
                    padding: 0px;
                }

                span {


                    @include mobile {
                        position: absolute;
                        bottom: 14px;
                        font-weight: 700;
                        font-size: 18px;
                        /* top: 120px; */
                        padding-left: 9px;
                    }
                }
            }

        }
    }
}

#ytDialog{
    padding: 0px;
    border: 0px solid white;
    padding-top: 20px;
    background: transparent;

    .custom-yt-close{
        float: right;
        position: absolute;
        top: 0;
        right: 0;
    }

    iframe{
        @include mobile{
            width: 100%;
            min-height: 190px;
            max-height: 190px;
        }
    }

    @include mobile{
        width: 100%;
    }
}



/* Youtube END */

