.primary-act-btn {
  padding: 12px 54px;
  background: #D62049;
  border-radius: 5px;
  border-color: transparent;
  color: #FFFFFF;
  line-height: 17px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  border: 0px;
  display: flex;
  align-items: center;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
}

.primary-act-btn:hover {
  box-shadow: 0px 0px 6px #D62049;
}

.primary-act-btn:focus {
  background: #CB1B43;
}

.disabled {
  background: #C7C8CA;
  cursor: auto;
}

.disabled:hover {
  box-shadow: 0px 0px 0px #D62049;
}

.secondary-act-btn {
  font-size: 14px;
  line-height: 17px;
  background: #FFFFFF;
  border: 1px solid #D62049;
  border-radius: 5px;
  color: #D62049;
  padding: 9px 54px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.secondary-act-btn:hover {
  background: #FAE7EC;
}

.secondary-act-btn:focus {
  background: #FFFFFF;
}

.secondary-disabled {
  border: 1px solid #C7C8CA;
  background: #FFFFFF;
  color: #C7C8CA;
  cursor: auto;
}

.secondary-disabled:hover {
  box-shadow: 0px 0px 0px #D62049;
  background: #FFFFFF;
}

.img-in-btn {
  margin-left: 15px;
}

.anchor-btn {
  font-style: normal;
  font-size: 14px;
  line-height: 132.5%;
  color: #0073BB;
  text-decoration: none;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
}

.anchor-btn:focus {
  font-family: "HelveticaBold", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.anchor-btn-disabled {
  color: #C7C8CA;
  pointer-events: none;
}

.img-in-btn-2 {
  margin-left: 10px;
  max-height: 11px;
}

.blue-anchor-btn {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 7px 12px;
  text-decoration: none;
  background: #0073BB;
  border-radius: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.blue-anchor-btn:hover {
  box-shadow: 0px 0px 6px #0073BB;
}

.blue-anchor-btn:focus {
  background: #255F8F;
}

.blue-anchor-btn-disabled {
  background: #C7C8CA;
  pointer-events: none;
}

.img-in-btn-3 {
  margin-left: 9px;
  max-height: 8px;
}

.disabled-red {
  background: #EB9AA6;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .primary-act-btn {
    padding: 12px;
    font-size: 14px;
  }

  .secondary-act-btn {
    padding: 12px 54px;
  }

  .img-in-btn {
    max-height: 14px;
    width: auto;
  }

  .blue-anchor-btn {
    padding: 5px 9px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }

  .img-in-btn-3 {
    margin-left: 5px;
  }
}