.testimonial-style {
  padding-top: 36px;
}

.testimonial-style .testimonial__heading .testimonial-head {
  padding-top: 0px;
}

@media (max-width: 767px) {
  .testimonial-style {
    padding-top: 0px;
    margin-bottom: 36px;
  }

  .testimonial-style .testimonial__heading .testimonial-head {
    padding-top: 20px;
  }
}