/* Benefits/Banner carousel START */

.bannercarousel {
  background-color: transparent;
}

.bannercarousel .page-container {
  max-width: 1090px;
  margin: auto;
}

.bannercarousel__details h3 {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  font-weight: 600;
}

.bannercarousel__details .cards__details {
  margin-top: 50px;
}

.bannercarousel__details .cards__details .cards__item {
  flex-wrap: wrap;
  gap: 2%;
}

.bannercarousel__details .cards__details .cards__item .carouselcard {
  background: #FFFFFF;
  box-shadow: 0px 0px 14px rgba(0, 115, 187, 0.1);
  border-radius: 12px;
  padding: 24px 34px;
  width: 32%;
}

.bannercarousel__details .cards__details .cards__item .carouselcard:nth-child(n+4) {
  margin-top: 22px;
}

.bannercarousel__details .cards__details .cards__item .carouselcard .carditems {
  padding-bottom: 15px;
}

.bannercarousel__details .cards__details .cards__item .carouselcard .carditems p {
  padding-left: 18px;
  color: #4197D3;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
}

.bannercarousel__details .cards__details .cards__item .carouselcard p {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #58595B;
}

/* Benefits/Banner carousel END */

@media (max-width: 767px) {
  .bannercarousel__details {
    padding-top: 16px;
  }

  .bannercarousel__details h3 {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin: 0px;
    margin-left: 16px;
  }

  .bannercarousel__details .cards__details .cards__item {
    flex-wrap: nowrap;
    margin-top: 0;
    margin-left: 16px;
    gap: 16px;
  }

  .bannercarousel__details .cards__details .cards__item .carouselcard:nth-child(n+4) {
    margin-top: 0px;
  }

  .bannercarousel__details .cards__details .cards__item .carouselcard {
    padding: 18px 24px;
    margin-bottom: 0px;
    margin-right: 0px;
    max-width: 274px;
    min-width: 274px;
  }

  .bannercarousel__details .cards__details .cards__item .carouselcard .carditems p {
    font-size: 14px;
    line-height: 17px;
  }

  .bannercarousel__details .cards__details .cards__item .carouselcard p {
    font-size: 12px;
    line-height: 16px;
  }

  .bannercarousel__details .cards__details {
    overflow: hidden;
    overflow-x: scroll;
    padding-top: 20px;
    padding-bottom: 29px;
    margin-top: 0px;
  }
}