.edit-div-style {
  max-width: 338px;
  width: 338px;
}

.edit-div-style .edit-input-style {
  width: calc(100% - 58px);
  margin: 30px 0px;
}

@media (max-width: 767px) {
  .edit-div-style {
    width: 100%;
    max-width: 100%;
  }

  .edit-div-style .edit-input-style {
    width: calc(100% - 16px);
    margin: 12px 0px;
  }
}