/* Open FAQs START */

.faqs-section .display {
  display: none;
}

.faqs-section .container {
  max-width: 1090px;
  margin: 0 auto;
}

.faqs-section .mobile {
  display: none;
}

.faqs-section__div {
  margin-right: 15px;
  margin-left: 17px;
}

.faqs-section__div .faqs-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #333333;
}

.faqs-section__div .question-query {
  position: relative;
  margin-top: 29px;
  margin-bottom: 30px;
}

.faqs-section__div .question-query input {
  border: 1px solid #E6E7E8;
  border-radius: 6px;
  max-width: 324px;
  width: 100%;
  outline-color: #58595B;
  padding-left: 10px;
  font-size: 12px;
  height: 31px;
}

.faqs-section__div .question-query input::-moz-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #E6E7E8;
}

.faqs-section__div .question-query input::placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #E6E7E8;
}

.faqs-section__div .asked-question {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 32px;
  line-height: 21px;
  color: #58595B;
}

.faqs-section__div .ques-para {
  flex-wrap: wrap;
  gap: 17px;
  row-gap: 28px;
}

.faqs-section__div .ques-para .mr-17 {
  margin-right: 17px;
}

.faqs-section__div .ques-para .mb-28 {
  margin-bottom: 28px;
}

.faqs-section__div .ques-para .paragraph {
  background: #F2F7FB;
  border-radius: 12px;
  padding: 29px 16px;
  gap: 10px;
  width: 49%;
}

.faqs-section__div .ques-para .paragraph .read-more {
  display: none;
}

.faqs-section__div .ques-para .paragraph .faq-question {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #333333;
}

.faqs-section__div .ques-para .paragraph .faq-answer {
  font-weight: 400;
  font-size: 18px;
  padding-top: 12px;
  line-height: 21px;
  color: #58595B;
}

.faqs-section .faq-show-more {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 27px;
}

.faqs-section .faq-show-more a {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  text-align: center;
  color: #0073BB;
  align-items: center;
  display: flex;
}

.faqs-section .faq-show-more a .mr-5 {
  margin-right: 5px;
}

.faqs-section .faq-show-more a .ml-5 {
  margin-left: 5px;
}

.faqs-section .faq-show-more a .ml-7 {
  margin-left: 7px;
}

.faqs-section .faq-show-more a .desktop-img {
  display: inline-block;
}

.faqs-section .faq-show-more a .mobile-img {
  display: none;
}

/* Open FAQs END */

@media (max-width: 767px) {
  .faqs-section .desktop {
    display: none;
  }

  .faqs-section .mobile {
    display: block;
  }

  .faqs-section .container {
    width: 100%;
  }

  .faqs-section__div .faqs-heading {
    font-size: 18px;
    line-height: 18px;
  }

  .faqs-section__div .question-query {
    width: 100%;
    padding-right: 16px;
  }

  .faqs-section__div .question-query input {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
  }

  .faqs-section__div .question-query input::-moz-placeholder {
    font-size: 12px;
    line-height: 16px;
    color: #C7C8CA;
  }

  .faqs-section__div .question-query input::placeholder {
    font-size: 12px;
    line-height: 16px;
    color: #C7C8CA;
  }

  .faqs-section__div .asked-question {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 16px;
  }

  .faqs-section__div .ques-para {
    flex-direction: column;
    row-gap: 20px;
  }

  .faqs-section__div .ques-para .paragraph {
    box-shadow: 0px 0px 14px rgba(0, 115, 187, 0.05);
    padding: 12px 12px 10px 12px;
    margin-right: 0;
    width: 100%;
  }

  .faqs-section__div .ques-para .paragraph .read-more {
    display: inline-block;
    margin: 0px;
    font-weight: 300;
    font-size: 14px;
    padding-top: 4px;
    line-height: 18.55px;
    color: #0073BB;
  }

  .faqs-section__div .ques-para .paragraph .faq-question {
    font-weight: 500;
    font-size: 14px;
    line-height: 132.5%;
  }

  .faqs-section__div .ques-para .paragraph .faq-answer {
    font-weight: 300;
    font-size: 14px;
    padding-top: 4px;
    line-height: 18.55px;
  }

  .faqs-section__div .ques-para .paragraph .faq-answer span {
    color: #0073BB;
  }

  .faqs-section .faq-show-more {
    padding: 0px;
    margin-top: 20px;
  }

  .faqs-section .faq-show-more a {
    line-height: 17px;
  }

  .faqs-section .faq-show-more a {
    font-size: 14px;
    line-height: 17px;
  }

  .faqs-section .faq-show-more a .desktop-img {
    display: none;
  }

  .faqs-section .faq-show-more a .mobile-img {
    display: inline-block;
  }
}