footer {
  max-width: 100%;
  max-height: 82px;
  background-color: #FFFFFF;
  bottom: 0;
  filter: drop-shadow(2px 0px 14px rgba(0, 0, 0, 0.1));
  position: fixed;
  width: 100%;
  padding: 20px 0px;
  z-index: 2;
}

footer .container {
  max-width: 1090px;
  margin: 0 auto;
}

footer .footer-div .footer-anchor {
  margin: 0px;
}

@media (max-width: 767px) {
  footer {
    padding: 0px;
  }

  footer .footer-div {
    width: 100%;
    justify-content: center;
    margin-right: 16px;
  }

  footer .footer-div .footer-anchor {
    width: 100%;
    margin: 15px 16px 15px 16px;
    justify-content: center;
  }
}