/* CTA Section */

/* Illustration Section */

.need-assistance-cta {
  padding-top: 10px;
  background: linear-gradient(180deg, rgba(242, 247, 251, 0) 0%, rgb(242, 247, 251) 100%);
}

.need-assistance-cta .container {
  max-width: 1090px;
  margin: 0 auto;
  padding: 0px 16px;
}

.need-assistance-cta__item-banner {
  padding-bottom: 37px;
}

.need-assistance-cta__item__text {
  width: 40%;
}

.need-assistance-cta__item__text h3 {
  margin: 0px;
  font-weight: 700;
  font-size: 42px;
  line-height: 42px;
  color: #333333;
}

.need-assistance-cta__item__text-desc {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  padding-top: 15px;
  padding-bottom: 13px;
}

.need-assistance-cta__item__text .call-cta {
  box-shadow: 0px 0px 8px #DADADA;
  border-radius: 8px;
  padding: 11px 22px 11px 23px;
}

.need-assistance-cta__item__text .call-cta-text p {
  font-weight: 700;
  font-size: 14px;
  padding-right: 58px;
  line-height: 18px;
  color: #FFFFFF;
}

.need-assistance-cta__item__text .call-cta a {
  padding: 0px;
}

.need-assistance-cta__item__text .call-cta-items {
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  padding: 5px 10px 3px 13px;
}

.need-assistance-cta__item__text .call-cta-items p {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

.need-assistance-cta__item__text .call-cta-items img {
  margin-right: 4px;
}

@media (max-width: 767px) {
  .need-assistance-cta__item {
    flex-direction: column;
  }

  .need-assistance-cta__item-banner img {
    width: 61%;
  }

  .need-assistance-cta__item__text {
    width: 100%;
  }

  .need-assistance-cta__item__text h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }

  .need-assistance-cta__item__text-desc {
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    padding-bottom: 8px;
    padding-top: 8px;
  }

  .need-assistance-cta__item__text .call-cta {
    width: 100%;
  }

  .need-assistance-cta__item__text .call-cta-text p {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    padding-right: 25px;
  }
}