/* WHy TATA cards START */

.whytatacards {
  background-color: #F2F7FB;
}

.whytatacards .container {
  max-width: 1090px;
  margin: 0 auto;
}

.whytatacards__items {
  padding: 24px 0;
}

.whytatacards__items .whytatacards__txt {
  width: 40%;
  padding-right: 22px;
}

.whytatacards__items .whytatacards__txt h4 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #333333;
}

.whytatacards__items .whytatacards__txt p {
  padding-top: 13px;
  color: #333333;
  font-weight: 300;
  line-height: 22px;
  font-size: 18px;
}

.whytatacards__items .show-more {
  display: none;
}

.whytatacards .whytata__card {
  width: 60%;
  align-items: inherit;
  gap: 25px;
  row-gap: 30px;
  justify-content: flex-start;
  background-color: #F2F7FB;
}

.whytatacards .whytata__card__item {
  padding: 20px 20px 12px 22px;
  width: 30%;
  background: #FFFFFF;
  mix-blend-mode: normal;
  box-shadow: 0px 0px 15.6321px rgba(0, 115, 187, 0.1);
  border-radius: 15px;
  min-height: 148px;
}

.whytatacards .whytata__card__item h3 {
  font-size: 24px;
  color: #4197D3;
  margin: 0px;
  line-height: 29px;
  font-weight: 700;
}

.whytatacards .whytata__card__item img {
  padding-bottom: 10px;
}

.whytatacards .whytata__card__item p {
  font-size: 14px;
  padding-top: 7px;
  line-height: 19px;
  color: #58595B;
  font-weight: 300;
}

/* WHy TATA cards END */

@media (max-width: 767px) {
  .whytatacards .container {
    padding: 0px 16px;
  }

  .whytatacards__items {
    flex-direction: column;
  }

  .whytatacards__items .whytatacards__txt {
    width: 100%;
    margin-bottom: 16px;
    padding-right: 0px;
  }

  .whytatacards__items .whytatacards__txt h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 132.5%;
  }

  .whytatacards__items .whytatacards__txt p {
    padding-top: 10px;
    font-weight: 300;
    font-size: 14px;
    line-height: 132.5%;
  }

  .whytatacards__items .show-more {
    display: block;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    margin-top: 17px;
  }

  .whytatacards__items .show-more a {
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    text-decoration: none;
    text-align: center;
    color: #0073BB;
  }

  .whytatacards .whytata__card {
    width: 100%;
    gap: 16px;
  }

  .whytatacards .whytata__card__item {
    width: 47%;
    border-radius: 12px;
    padding: 19px 19px 12px 19px;
  }

  .whytatacards .whytata__card__item:where(:nth-last-child(-n+2)) {
    display: none;
  }

  .whytatacards .whytata__card__item h3 {
    font-size: 20px;
    line-height: 24px;
  }

  .whytatacards .whytata__card__item img {
    padding-bottom: 8px;
  }

  .whytatacards .whytata__card__item p {
    font-size: 12px;
    line-height: 16px;
  }
}